<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
  <!--  <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
  <title>PokéDex</title>

</head>

<!-- Ciclos de vida:
     beforeCreate -> created -> beforeMount ->
     mounted -> beforeUpdate -> updated ->
     beforeDestroy -> destroyed  -->
<!-- {{ }} Double mustache -->
<!-- Diretiva v-bind: Expressões e atributos. Realizando o bind em atributos de tags HTML -->
<!-- (:) Síntaxe enxuta. Só os dois pontos -->
<!-- Diretivas v-if, v-else, v-if-else, v-show: Condições -->
<!-- Diretiva v-for: loopings -->
<!-- Atributo key: É sempre recomendado com v-for, para exclusividade, cada item tem que ser único -->
<!-- diretiva v-html: Para que o vue interprete como um elemento html a ser renderizado pelo navegador -->


<body>
  <div id="app">
    <ul>
      <li v-for="n in 10" v-if="n % 2 === 0">
        5 x {{ n }} = {{ 5 * n }}
      </li>
    </ul>
  </div>

  <!-- <script src="https:unpkg.com/vue/dist/vue.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>

  <script>
    var app = new Vue({
      el: '#app',
      data: {}

    })
  </script>

</body>

</html>